NET "signal_A" LOC = P51 | IOSTANDARD = LVTTL | PULLDOWN;
NET "signal_B" LOC = P41 | IOSTANDARD = LVTTL | PULLDOWN;
NET "signal_Ci" LOC = P35 | IOSTANDARD = LVTTL | PULLDOWN;
NET "signal_S" LOC = P33 | IOSTANDARD = LVTTL | PULLDOWN;
NET "signal_Co" LOC = P30 | IOSTANDARD = LVTTL | PULLDOWN;